@font-face {
  font-family: 'SF';
  src: url('../../assets/fonts/SF-Medium.OTF');
  font-weight: 500;
  font-display: swap; /* This line is added */
}

@font-face {
  font-family: 'SF';
  src: url('../../assets/fonts/SF-Regular.OTF');
  font-weight: 400;
  font-display: swap; /* This line is added */
}

@font-face {
  font-family: 'SF';
  src: url('../../assets/fonts/SF-Semi.OTF');
  font-weight: 600;
  font-display: swap; /* This line is added */
}
